#asset folder, contains files such as manuals
/assets

#images folder
/images

# udemy API key
/robotix/user/courses/udemy_client_data.php

# htaccess for server redirect
/robotix/admin/.htaccess

#You Tube API Key
/robotix/admin/youTubeAPIKey.json

# database data
/database/robotix-data.sql
